@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
    margin-top: 70px;
}

.places-buttons .btn{
    margin-bottom: 30px
}

.space-70{
    height: 70px;
    display: block;
}

.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.tim-row{
    margin-bottom: 20px;
}

.tim-typo{
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note{
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row{
    padding-top: 50px;
}
.tim-row h3{
    margin-top: 0;
}


/*----------------- custome css start here --------------------*/

.caount-wrap .count {
	display: inline-block;
	padding: 2px 5px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.23);
	margin-left: 5px;
	margin-right: -10px;
	font-weight: bold;
	text-shadow: 0px 0px 2px rgba(85, 85, 85, 0.51);
}
.caount-wrap .btn {
	margin-right: 5px;
}

.no-margin{
	margin: 0px !important;
}

.profile-show-wrap {
	display: inline-block;
}
.profile-show-wrap .profile-photo-small {
	width: 25px;
	height: 25px;
	border-radius: 50px;
	overflow: hidden;
	float: left;
	margin-right: 5px;
	vertical-align: middle;
	border: solid 1px rgba(0, 0, 0, 0.11);
}
.profile-show-wrap .profile-name {
	margin-top: 2px !important;
	display: inline-block;
}

.profile-show-wrap .profile-photo-small img {
	opacity: 0;
}
.profile-show-wrap .profile-photo-small span {
	background-size: cover;
	display: inline-block;
	background-position: center;
}

.form-group.is-focused .form-control {
	background-image: linear-gradient(rgb(244, 67, 54), rgb(244, 67, 54)), linear-gradient(RGB(210, 210, 210), RGB(210, 210, 210)) !important;
}

.more-info-icon-btn {
	position: relative;
	top: -10px;
}

















/*----------------- / custome css end here --------------------*/