/**********css start****************/

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}


body {
	font-family: "Tondo", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #000;
}
.no-padding{
	padding: 0px;
}
.no-margin{
	margin: 0px;
}

.post-login.business-header .logo {
	font-size: 22px;
	font-weight: bold;
	margin: 2%;
	/* color: rgb(255, 255, 255); */
}
.post-login.business-header .post-login-page {
}
.bg-img_sign_up {
	/*background-image: url('../image/mountant.jpg');*/
	width: 100%;
	height: auto;
	overflow: auto;
	background-size: cover;
}
.post-login.business-header .post-login-page {
	background-color: rgba(199, 199, 199, 0.2);
	width: 100%;
	height: auto;
	padding: 18% 5%;
	color: rgb(77, 77, 77);
}
.post-login.business-header .post-login-page .sign.up {
	text-align: center;
}
.post-login.business-header .post-login-page .sign.up h3 {
	margin: 0px;
	font-size: 30px;
	text-transform: uppercase;
}
.post-login.business-header .post-login-page .login-description {
	text-align: center;
	padding: 7%;
}
.post-login.business-header .post-login-page .sign-in-btn {
	text-align: center;
	padding-bottom: 74px;
}
.post-login.business-header .post-login-page .sign-in-btn .btn {
	color: rgb(84, 82, 82);
	background-color: transparent;
	/* border-color: rgb(255, 255, 255); */
	text-transform: uppercase;
	padding: 8px 40px;
	font-weight: bold;
	border-width: 2px;
}
.post-login.business-header .post-login-page .sign-in-btn .btn:hover {
	color: #fff;
	background-color: rgb(186, 15, 9);
	border-color: transparent;
}
.post-register-page {
	 background-color: rgb(255, 255, 255); 
	height: auto;
	padding: 5%;
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
}
.post-register-page .register-sign-in {
	color: rgb(227, 17, 17);
}
.post-register-page .register-description .register-username {
	font-size: 13px;
	padding-top: 4%;
	color: rgb(111, 83, 83);
}
.register-description {
	display: block;
	/* padding-left: 23%; */
	 padding-top: 10%; 
	/* padding-bottom: 15%; */
	width: auto;
	max-width: 350px;
	margin: 0px auto;
}
.post-register-page .register-description .username-post {
	font-size: 13px;
	font-weight: normal;
	color: rgb(113, 113, 113);
}

.post-register-page .register-description .btn.btn-lg.btn-primary.btn-block {
	margin-top: 15px;
	background-color: RGB(228, 0, 0);
	border-color: RGB(228, 0, 0);
}
.row-semilor {
	overflow: hidden;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%,rgb(255, 255, 255) 50%,rgb(255, 255, 255) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ffffff',GradientType=1 );
	margin-bottom: 3%;
	border-top: solid 2px rgb(244, 244, 244);
}

.post-register-page .register-description .form-control {
	box-shadow: none !important;
	border-width: 2px;
	border-color: #ddd;
}
.post-register-page .register-description .form-control:focus {
	border-color: rgb(202, 202, 202);
}

@media all and (max-width: 991px) {
	.row-semilor {
		background-image: inherit !important;
	}	
}

.form-group label.error {
    top: 3px;
    left: 0px;
    font-weight: normal;
    color: rgb(249, 58, 58);
    font-size: 12px;
    background-color: transparent;
    padding: 0px !important;
    position: relative;
    text-transform: none;
}

.btn.btn-primary.edit-btn {
	background-color: transparent !important;
	box-shadow: none !important;
	color: rgb(8, 116, 51);
	padding: 0px !important;
	line-height: 40px !important;
	margin: 0px !important;
	width: 25px;
}

.btn.btn-primary.delete-btn {
	background-color: transparent !important;
	box-shadow: none !important;
	color: rgb(198, 6, 0);
	padding: 0px !important;
	line-height: 22px !important;
	margin: 0px !important;
	width: 25px;
}

.action-btns .btn.delete-btn:hover {
	color: rgb(234, 38, 38);
}
.action-btns .btn.edit-btn:hover{
	color: rgb(27, 171, 84);
}
.action-btns .btn i {
	font-size: 17px !important;
}

label.error {
    font-size: 12px;
    color: rgb(254, 59, 88);
    font-weight: 300;
}

.btn.btn-primary.btnDelete {
	background-color: #C43531 !important;
	box-shadow: none !important;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
	border: 1px solid gray;
	color: gray;
	background-color: white;
	/* padding: 8px 20px; */
	border-radius: 59px;
	/* font-size: 20px; */
	font-weight: bold;
	width: 100px;
	height: 100px;
	border: ;
	cursor: pointer;
}

.upload-btn-wrapper input[type="file"] {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	display: inline-block;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.table-font-size {
	font-size: 14px !important;
}


.image-size {
	width: 100px;
	height: 37px;
	display: inline-block;
	/* overflow: hidden; */
}

#attendacne_table thead tr th:nth-child(4) {
	width: 70px !important;
}

#attendacne_table tbody tr td:nth-child(4) {
	width: 70px !important;
}
#attendacne_table tbody tr td:nth-child(4) p {
	width: 70px !important;	
	font-size: 12px !important;
}

#attendacne_table thead tr th:nth-child(6) {
	width: 70px !important;
}

#attendacne_table tbody tr td:nth-child(6) {
	width: 70px !important;
}
#attendacne_table tbody tr td:nth-child(6) p {
	width: 70px !important;	
	font-size: 12px !important;
}

.image-size {
	position: relative;
	padding-left: 40px;
	display: inline-block;
	width: 100%;
	text-align: left;
	height: auto !important;
}
.image-size img {
	position: absolute;
	left: 0;
	width: 35px !important;
	height: 35px !important;
	border-radius: 50px !important;
	max-height: 35px !important;
}

#attendacne_table .btn {
	background-color: rgba(0, 0, 0, 0.07);
	font-weight: bold;
	text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.34);
	margin: 0px auto !important;
	width: 80px;
	display: block;
}
/*.zoom:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(2.5);
	z-index: 99999;
	background-color: rgb(255, 255, 255);
}*/
.hover-image {
	display: inline-block;
	position: relative;
	/* float: left; */
	margin-right: 10px;
}
/*.hover-image:hover {
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 999;
	background-color: #ddd;
	text-align: center;
	left: 7%;
	margin: 0 auto !important;
	border: solid 5px #ffffff;
	border-radius: 200px;
	top: 0px;
	box-shadow: hover;
	box-shadow: 0px 5px 5px rgb(221, 221, 221);
}*/
/*.hover-image:hover .zoom {
	width: 100% !important;
	height: 100% !important;
	border-radius: 200px !important;
}*/


.btnStatus {
	background-color: rgb(244, 67, 54) !important;
	border: solid 1px rgb(244, 67, 54) !important;
	box-shadow: none !important;
}
.hover-image:hover .user-name {
	position: relative;
	top: 12px;
	display: inline-block;
	left: 87px;
}
/*.user-name {
	position: relative;
	top: 12px;
	display: inline-block;
	left: 87px;
}*/


.img-hover-wrap {
	position: absolute;
	width: 150px;
	z-index: 999;
	padding: 5px;
	background-color: rgb(255, 255, 255);
	border: solid 1px rgb(221, 221, 221);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
	top: 115%;
	opacity: 0;
	visibility: hidden;
	height: 150px !important;
}
.hover-image:hover .img-hover-wrap {
	opacity: 1 !important;
	visibility: visible !important;
}
.user-name {
	display: inline-block;
}

.hover-image .zoom {
	width: 30px !important;
	height: 30px !important;
}
.hover-image .img-hover-wrap img {
	height: 100% !important;
	width: 100% !important;
	object-fit: cover;
	object-position: center;
}
/*img.zoom.img-hover-wrap {
    position: absolute;
    z-index: 999;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(221, 221, 221);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
    top: 115%;
    opacity: 0;
    visibility: visible;
    width: auto !important;
    height: auto !important;
    max-height: 200px !important;
    max-width: 124px !important;
}*/


.img-hover-wrap-box {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 999;
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border: solid 1px rgb(221, 221, 221);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.26);
    top: 115%;
    opacity: 0;
    visibility: hidden;
    display: none;
}
.hover-image:hover .img-hover-wrap-box {
	display: block !important;
	visibility: visible !important;
	opacity: 0 !important;
}