html, body {
	height: 100%;
	margin: 0px;
	-webkit-text-size-adjust: 100%;
}
html {
    position: relative;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'WorkApps';
    src: url('../fonts/WorkApps.eot');
    src: url('../fonts/WorkApps.eot') format('embedded-opentype'),
         url('../fonts/WorkApps.woff2') format('woff2'),
         url('../fonts/WorkApps.woff') format('woff'),
         url('../fonts/WorkApps.ttf') format('truetype'),
         url('../fonts/WorkApps.svg#WorkApps') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
	font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansItalic.woff2') format('woff2'),
         url('../fonts/OpenSansItalic.woff') format('woff'),
         url('../fonts/OpenSansItalic.ttf') format('truetype'),
         url('../fonts/OpenSansItalic.svg#OpenSansItalic') format('svg');
	font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'open sans';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
	font-weight: bold;
    font-style: normal;
}
body {
    font-family:"open sans",sans-serif;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 23px;
    color: #000;
    font-weight: 400;
    min-width: 1280px;
}

* {
    box-sizing: border-box;
    font-family: "open sans",sans-serif !important;
}

a {
    color: #1271B4;
    text-decoration: none;
}

a:hover {
    color: #08466F;
    transition: all 0.3s ease 0s;
}

/* Chrome Textbox Autofill Remove */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #000 !important;
}


/* don't show the x for text inputs */

::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}


/* don't show the eye for password inputs */

::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

.f_left {
    float: left;
}

.f_right {
    float: right;
}

.clr {
    clear: both;
}

.txtCenter {
    text-align: center;
}

.txtRight {
    text-align: right;
}

.fontSize11 {
    font-size: 11px;
}

.logoContainer {
    float: left;
    background: url(../images/gst-logo.png?v=@@version) center center no-repeat;
    width: 365px;
    height: 75px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.iconSpace {
    height: 20px;
    width: 20px;
}

.iconEdit {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -7px -7px no-repeat;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.iconEdit:hover {
    background: url(../images/iconsGroup.png) -7px -37px no-repeat;
}

.summaryIconEdit {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -7px -7px no-repeat;
    margin: 0 7px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
}

.summaryIconEdit:hover {
    background: url(../images/iconsGroup.png) -7px -37px no-repeat;
}

.iconEditSettings {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -7px -145px no-repeat;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.iconEditSettings:hover {
    background: url(../images/iconsGroup.png) -36px -145px no-repeat;
}

.summaryIconEditSettings {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -7px -145px no-repeat;
    margin: 0px 7px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
}

.summaryIconEditSettings:hover {
    background: url(../images/iconsGroup.png) -36px -145px no-repeat;
}

.iconMobile {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -6px -123px no-repeat;
    margin-top: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.iconMobile:hover {
    background: url(../images/iconsGroup.png) -36px -123px no-repeat;
}

.iconDelete {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -37px -7px no-repeat;
    margin-top: 12px;
    cursor: pointer;
}

.iconDelete:hover {
    background: url(../images/iconsGroup.png) -37px -37px no-repeat;
    cursor: pointer;
}

.summaryIconDeleteDisable {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -67px -7px no-repeat;
    margin: 0px 7px;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
}

.summaryIconDelete {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -37px -7px no-repeat;
    margin: 0px 7px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    z-index: 999;
}

.summaryIconDelete:hover {
    background: url(../images/iconsGroup.png) -37px -37px no-repeat;
}

.iconNext {
    height: 16px;
    width: 10px;
    background: url(../images/right.png) no-repeat;
    cursor: pointer;
    background-position: -5px -2px;
    margin: 12px 5px 0 7px;
}

.iconPrevious {
    height: 16px;
    width: 10px;
    background: url(../images/left.png) no-repeat;
    cursor: pointer;
    background-position: -5px -2px;
    margin: 12px 5px 0 5px;
}

.iconMobilePreview {
    height: 16px;
    width: 16px;
    background: url(../images/iconMobilePreview.png) no-repeat;
    margin: 0px auto;
    cursor: pointer;
    z-index: 9999;
}

.iconClose {
    height: 16px;
    width: 16px;
    background: url(../images/iconsGroup.png) -7px -68px no-repeat;
    cursor: pointer;
    z-index: 1000010;
}

.iconClose:hover {
    background: url(../images/iconsGroup.png) -37px -66px no-repeat;
}

.iconBack {
    height: 16px;
    width: 16px;
    background: url(../images/iconsGroup.png) -7px -96px no-repeat;
    cursor: pointer;
    z-index: 9999;
}

.iconBack:hover {
    background: url(../images/iconsGroup.png) -37px -96px no-repeat;
}

.searchBar_closeAndBackPosition {
    position: absolute;
    top: 10px;
    right: 10px;
}

.searchBar_closeAndBackPosition1 {
    position: absolute;
    top: 9px;
    right: 10px;
}

.btnUnpublished {
    margin-top: 6px;
    margin-right: 10px;
}

.breakWord {
    word-wrap: break-word;
}

.headingHeight {
    height: 40px;
}

.pad_10 {
    padding: 10px;
}

.pad_15 {
    padding: 15px;
}

.pad_top_btm_5 {
    padding: 5px 0px;
}

.displayTable {
    display: table;
}

.verticalalignMiddle {
    display: table-cell;
    vertical-align: middle;
}

.disp_none {
    display: none;
}

.height_100Per {
    height: 100%;
}

.margin_right_10 {
    margin-right: 10px;
}

.margin_left_right_5 {
    margin: 0px 5px;
}

.width_min70_max160_px {
    min-width: 70px;
    max-width: 160px;
}

.radiusBox {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #e1e1e1;
    width: 100%;
}

.eachFileContainer {
    float: left;
    cursor: pointer;
    height: 74px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #fff;
    padding: 5px 8px;
    margin: 5px 10px 5px 0px;
    min-width: 130px;
    font-size: 14px;
    position: relative;
    text-align: left !important;
    border: 1px solid #ddd;
    display: table;
	background:#fff;
}

.eachFileContainer:hover {
    background: #f1f2f3;
}

.eachFileIconImgType {
    padding-right: 10px;
    height: 50px;
    width: auto;
    min-width: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.eachFileIconImgType img {
    max-height: 50px;
    max-width: 625px !important;
    display: block;
}
.eachFileIcon {
    padding-right: 10px;
    height: 50px;
    width: auto;
    min-width: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.eachFileIcon img {
    max-height: 50px;
    max-width: 600px;
    display: block;
}

.eachFileDescription {
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
	min-width: 75px;
	max-width: 165px;
}

.eachFileName {
    font-size: 14px;
    overflow: hidden;
    min-height: 23px;
    max-height: 60px;
    line-height: 15px;
    min-width: 70px;
    max-width: 160px;
    word-wrap: break-word;
}

.eachFileNameElastic {
    font-size: 13px;
    overflow: hidden;
    min-height: 16px;
    max-height: 40px;
    line-height: 15px;
    min-width: 70px;
    max-width: 160px;
    word-wrap: break-word;
}

.eachFileContainer:hover>.icon-fileIcons {
    display: block;
}

.icon-fileIcons {
    display: none;
    position: absolute;
    left: -1px;
    top: -8px;
    bottom: -1px;
    right: -1px;
    /*background: rgba(0, 0, 0, 0.7);*/
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.iconDownload {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffffff url(../images/fmIcons.png) -1px 8px no-repeat;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.iconDownload:hover {
    background: #ffffff url(../images/fmIcons.png) -1px -34px no-repeat;
}

.iconFileSelect {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffffff url(../images/fmIcons.png) -95px 5px no-repeat;
    margin: 0px 10px;
    cursor: pointer;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.iconFileSelect:hover {
    background: #ffffff url(../images/fmIcons.png) -95px -37px no-repeat;
}

.iconThumbUp {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffffff url(../images/fmIcons.png) -145px 7px no-repeat;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.iconThumbUp:hover {
    background: #ffffff url(../images/fmIcons.png) -145px -34px no-repeat;
}

.iconThumbUp.Selected {
    background: #ffffff url(../images/fmIcons.png) -145px -34px no-repeat;
}
.iconThumbDown {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #ffffff url(../images/fmIcons.png) -196px 9px no-repeat;
    margin: 0px 5px;
    cursor: pointer;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.iconThumbDown:hover {
    background: #ffffff url(../images/fmIcons.png) -196px -32px no-repeat;
}
.iconThumbDown.Selected {
    background: #ffffff url(../images/fmIcons.png) -196px -32px no-repeat;
}
.ellipsisText {
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.iconHelp {
    position:absolute;
	top:8px;
	right:10px;
    height: 35px;
    width: 35px;
    background: #1276BB url(../images/fmIcons.png) -235px 6px no-repeat;
    cursor: pointer;
    box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.iconHelp:hover {
    background: #08466F url(../images/fmIcons.png) -235px -34px no-repeat;
}

.iconBotClose {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 25px;
    width: 25px;
    background: #fff url(../images/iconsGroup.png) -3px -65px no-repeat;
    cursor: pointer;
}

.iconBotClose:hover{
    background: #fff url(../images/iconsGroup.png) -33px -63px no-repeat;
}

.menu-bar {
    font-family: "open sans",sans-serif;
    position: absolute;
    width: 225px;
    left: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    padding: 0;
    z-index: 9;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
}

.logo-container {
    width: 100%;
    height: 46px;
    padding: 1px 10px 0;
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

.logo-container h1 {
    margin: 0px;
    padding: 0px;
}

.logout-container {
    width: 100%;
    height: 60px;
    padding: 17px 10px 0;
    background: #f2f2f2;
    border-right: 1px solid #d9d9d9;
}

.logout-container h1 {
    margin: 0px;
    padding: 0px;
}

.logo-container img {
    /*width: 100%;
	max-width: 100%;
	height: auto;
	display: block;*/
}

.new-button {
    float: left;
    background: #e46c0a;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    width: 22px;
    height: 22px;
}

.selected-menu .new-button {
    background: #2d393f;
}

.new-button-icon {
    display: inline-flex;
    color: #fff;
    font-size: 15px;
    line-height: 22px;
}

.new-text {
    font-size: 15px;
    line-height: 22px;
    padding: 0 0 0 32px;
    color: #000;
}

.new-text a {
    color: #fff;
}

.new-text a:hover {
    color: #e46c0a;
    transition: none;
}

.main-menu-text {
    color: #000;
    font-size: 13px;
    line-height: 20px;
    padding-left: 8px;
    height: 20px;
    float: left;
}

.menu-icons {
    color: #000;
    float: left;
    font-size: 20px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.menu-logout {
    color: #fff;
    float: left;
    font-size: 20px;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.txtQuestion {
    padding: 12px 10px;
    border-bottom: 1px solid #f4f4f4;
    color: #000;
    cursor: pointer;
    font-size:13px;
    line-height: 20px;
    width: 100%;
}

.txtQuestion:hover {
    background-color: #f4f4f4;
    color: #000;
}

.txtQuestion-selected {
    color: #ffffff !important;
    cursor: default;
    background-color: #1271B4 !important;
    cursor: pointer;
}

.txtQuestion-selected .txtGrey {
    color: #c2c2c2;
    font-size: 12px;
}

.menu-scroll-container {
    position: absolute;
    top: 70px;
    bottom: 15px;
    overflow-y: hidden;
    width: 100%;
}

.menu-group {
    font-size:13px;
    color:#000;
    line-height: 17px;
    padding: 0;
    position: absolute;
    top: 46px;
    bottom: 35px;
    width: 100%;
    overflow-y: hidden;
}

.menu-group ul,
ol.question-menu {
    width: 100%;
    margin: 0;
    padding: 0;
}

.menu-group ul li {
    margin: 0;
    position: relative;
    list-style: none;
    cursor: pointer;
    border-left:5px solid rgba(49,133,156,0);
    border-bottom: 1px solid #f4f4f4;
    padding: 10px 2px 10px 5px;
}

.menu-group ul li img {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 20px;
}

.btnLogout {
    font-family: "open sans",sans-serif;
    padding: 2px 0px;
    border-top: 1px solid #f2f2f2;
    cursor: pointer;
    font-size: 13px;
    color: #5e5e5e;
    background: none;
    border: none;
    outline: none;
}

.btnLogout:hover {
    color: #1275B9;
    outline: none;
}

.menu-group ul li .eachMenuText {
    margin: 1px 10px 0 35px;
    max-width: 135px;
    line-height:21px;
}

.menu-group ul li .eachFolderIcon {
    float: left;
    width: 20px;
    height: 20px;
    display: table;
    margin-left: 3px;
}
/*------------------------------New Div Structure Menu Start-----------------------------*/
.menu-group .eachMenuContainerOuter { border-bottom: 1px solid #f4f4f4;}
.menu-group .eachMenuContainer {
    margin: 0;
    position: relative;
    list-style: none;
    cursor: pointer;
    border-left:5px solid rgba(49,133,156,0);
    padding: 10px 2px 10px 5px;
}
.menu-group .eachMenuContainer:hover {
    color: #000;
    background: #f4f4f4;
    border-left: 5px solid #1271B4;
    text-decoration: none;
}
.menu-group .eachMenuContainer.selected-menu {
    color: #126DAE;
    font-weight: bold;
    background: #f4f4f4;
    border-left: 5px solid #1271B4;
}
.eachSubMenuContainer{}
.menu-group .eachSubMenuContainer.selected-menu {
   font-weight: bold;
}
.menu-group .eachMenuContainer img {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 20px;
}
.menu-group .eachMenuContainer .eachMenuText {
	margin: 1px 0px 0 10px;
	max-width: 145px;
	line-height: 21px;
	display: inline-block;
	vertical-align: middle;
}

.menu-group .eachMenuContainer .eachFolderIcon {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-left: 3px;
	vertical-align: middle;
	position:relative;
}
.iconSubMenu {
    background: #fff url(../images/iconSubMenuPlus.png) no-repeat center center;
    height: 13px;
    width: 13px;
    position: absolute;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
}
/*------------------------------New Div Structure Menu End-----------------------------*/


/*-------------------- Index - Folder and Article Collapsible CSS Start --------------------*/
.collapse{ 
	margin-bottom: 10px;
	/*border-bottom: 1px solid #dfdfdf;*/
	padding-bottom: 5px;
}
.ui-widget-header {
    color: #595959;
    font-weight: bold;
	float: left;
	margin: 0px 10px 0px 0px;
}
.ui-widget-folderHeading {
	font-weight: bold;
	line-height: 17px;
	/*display: inline-block;*/
	vertical-align: top;
	float: left;
	min-width: 382px;
}
.ui-widget-content{margin:5px 0 0 30px;}
.ui-icon {
	width: 17px;
	height: 17px;
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	cursor:pointer;
}
.ui-icon-triangle-1-e { background: url(../images/arrowDown.png) center center no-repeat; }
.ui-icon-triangle-1-s { background: url(../images/arrowRight.png) center center no-repeat; }

.indexSubfolderContainer{ margin:5px 0px 5px -15px; font-size:13px;}
.indexSubfolderContainer .article_cellDiv {padding: 4px 5px;}
.indexSubfolderContainer .article_cellDiv.articleName {width: 33.2%;}
.indexSubfolderContainer .article_cellDiv.articleAuthorPublisher {width: 16.2%;}
.indexSubfolderContainer .article_cellDiv.articleAuthorPublisher {width: 16.2%;}
.indexSubfolderContainer .article_cellDiv.articleStatus { width: 10.2%;}

.indexSubfolderArticleContainer{ margin:0px 0px 0px 15px;  font-size:13px;}
.eachIndexGroupContainer .indexSubfolderArticleContainer .index_rowDivHeader .dashboard_cellDivHeader{ font-size:14px;}
.indexSubfolderArticleContainer .eachIndexText {padding: 0px 10px;}
.indexSubfolderContainer .collapse{ 
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.indexSubfolderContainer .collapse .ui-widget-folderHeading{ 
	/*color: #126DAE;*/
	min-width: 368px;
}

/*-----------------------Div Structure Sub Menu Start-----------------------*/
.eachMenuContainerOuter .collapse{ 
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.eachMenuContainerOuter .collapse .ui-widget-folderHeading{ font-weight:normal; min-width:auto; float: none;}
.eachMenuContainerOuter .collapse .ui-widget-header {
    color: #595959;
    font-weight: bold;
    position: absolute;
	top: 12px;
	right: 8px;
    margin: 0px;
	font-size: 16px;
	z-index: 99;
}
.eachMenuContainerOuter .collapse .ui-icon {
    width: 22px;
    height: 22px;
	display:none;
}
.eachMenuContainer:hover > .ui-icon { display:block;}
.eachMenuContainerOuter .collapse .ui-widget-content {
	margin: 0px;
	background: #fff;
	position: relative;
	/*border-bottom: 1px solid #f4f4f4;*/
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer{
	font-size:13px;
	color:#000;
	padding:7px 0px 7px 22px;
	border: none;
	position:relative;
	cursor:pointer;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer:hover{
    color: #126DAE;
	background:none;
    text-decoration: none;
	border: none;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer.selectedSubMenu{
    color: #126DAE;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer .eachFolderIcon {
    float: none;
    width: 18px;
    height: 18px;
    display: inline-block;
	vertical-align: middle;
    margin-left: 0px;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer .eachMenuText {
    margin: 1px 0px 0 3px;
    max-width: 135px;
    line-height: 21px;
	display: inline-block;
	vertical-align: middle;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer .articleCount {
    top: 7px;
}
.eachMenuContainerOuter .collapse .ui-widget-content .eachSubMenuContainer img {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    width: 16px;
}
.eachMenuContainerOuter .collapse .ui-icon-triangle-1-s {
    background: #f4f4f4 url(../images/iconPlus.svg) center center no-repeat;
}
.eachMenuContainerOuter .collapse .ui-icon-triangle-1-e {
    background: #f4f4f4 url(../images/iconMinus.svg) center center no-repeat;
}
/*-----------------------Div Structure Sub Menu End-----------------------*/


ol.question-menu li .txtQuestion {
    padding-left: 25px;
    width: 100%;
    margin-top: -20px;
    float: left;
}

.menu-group ul li.selected-menu {
    color: #126DAE;
    font-weight: bold;
    background: #f4f4f4;
    border-left: 5px solid #1271B4;
}

.menu-group ul li:hover {
    color: #000;
    background: #f4f4f4;
    border-left: 5px solid #1271B4;
    text-decoration: none;
}

ul.main-logout li:hover {
    color: #C00;
}

ol.question-menu li {
    border-bottom: 1px solid #f4f4f4;
    padding: 7px 7px 7px 10px;
    cursor: pointer;
    line-height: 20px;
    list-style-position: inside;
    width: 100%;
    float: left;
}

ol.question-menu li:last-child {
    border-bottom: none;
    padding: 7px 7px 7px 10px;
}

ol.question-menu li:hover {
    background-color: #f1f2f3;
}

ol li.question-menu-selected {
    color: #31859c;
    cursor: default;
    background-color: #ffff99 !important;
}

.content-panel {
    position: absolute;
    left: 225px;
    right: 0px;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 6;
    line-height: 19px;
}


/* .content-panel p {
    clear: both !important;
    margin: 0 0 13px 0 !important;
}

.content-panel div, p {
    text-align: justify !important;
} */

.content-panel .eachFileContainer .eachFileDescription .eachFileName {
    text-align: left !important;
    line-height: 15px !important;
}

.content-panel .eachFileContainer .icon-fileIcons div.iconsPosition {
    text-align: center !important;
    line-height: 15px !important;
}

.article-detail-content-panel .eachFileContainer .eachFileDescription .eachFileName {
    text-align: left !important;
    line-height: 19px !important;
}

.article-detail-content-panel .eachFileContainer .icon-fileIcons div.iconsPosition {
    text-align: center !important;
    line-height: 15px !important;
}

/*  for Incre-decre indent not working issue commented by nitin

.content-panel ul {
    padding: 5px 0px 5px 17px;
    margin: 0px !important;
}

.content-panel ul li {
    padding: 2px 0px !important;
}
 */

.iconsPosition {
    padding-top: 25px;
    text-align: center!important;
}
.content-panel-summary-article {
    position: absolute;
    left: 225px;
    right: 0px;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 6;
    line-height: 21px;
}
.middle-panel {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0;
    bottom: 0;
    background: #fff;
}


.colQuestions {
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 50px;
    background: #fff;
    z-index: 2;
    box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.2);
}
.searchQuestionBox {
    padding: 12px 10px 0px 10px;
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 999;
    background: #fff;
}
.searchQuestionBox:focus {
    width: 100%;
}

.searchQuestionBox:active {
    width: 100%;
}

.editArticleContentContainer {
    position: absolute;
    left: 300px;
    top: 0px;
    bottom: 0px;
    right: 0;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: hidden;
}
.editArticleContainer {
    position: absolute;
    left: 300px;
    top: 5px;
    bottom: 10px;
    right: 0;
    padding: 15px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: hidden;
}
.eachArticleIconsContainer {
    float: right;
    padding: 0 10px 0 0;
}
.eachArticleContainer {
    position: absolute;
    left: 300px;
    top: 5px;
    bottom: 55px;
    right: 0;
    padding: 0px 0px 0px 15px;
    overflow: hidden;
    word-wrap: break-word;
    overflow-y: hidden;
}

.eachArticleContent {
    position: absolute;
    left: 300px;
    top: 5px;
    bottom: 10px;
    right: 0;
    padding: 0px 15px;
    overflow-y: hidden;
}

.tasks-listing {
    left: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 5px 15px;
}

.admin-listing {
    left: 0px;
    position: absolute;
    top: 0px;
    bottom: 0;
    right: 0;
}

.searchListScrollContainer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    overflow-y: hidden;
    z-index: 99;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    top: 40px;
    background: #fff;
}

.eachArticleHeader {
    /*width: 100%;*/
    padding: 5px 20px 0px 0px;
    /*margin-right: 35px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);*/
    color: #1271B4;
    z-index: 1;
    font-size: 16px;
    height: 45px;
    display: table;
}

.eachArticleHeader h1 {
    font-size: 18px;
	line-height: 25px;
    font-weight: bold;
    color: #126DAE;
    margin: 0 0 5px 0;
}

.listing-header {
    width: 100%;
    padding: 3px 15px 0px 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    color: #1271B4;
    z-index: 1;
    font-size: 16px;
    height: 45px;
    display: table;
}

.listing-header h1 {
    font-size: 16px;
    color: #126DAE;
    margin: 0 50px 0 0;
}

.listing-text-inner {
    line-height: 21px;
    font-weight: bold;
}

.listing-text-inner h1 {
    padding: 0px;
    color: #1271B4;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
}

.txtPostDate {
    float: right;
    width: 15%;
    font-size: 12px;
    color: #999;
    text-align: right;
}

.txtGrey {
    color: #999;
    font-size: 12px;
    font-weight: normal;
}
.txtGrey span {
    font-size: 12px !important;
}

.lineHeight {
    line-height: 26px;
}

.txtFileDateTime {
    font-size: 12px;
    color: #999;
    line-height: 14px;
}

.homeFullPageImage {
    height: 100%;
    width: 100%;
    background: url(../images/knowledgeApps.jpg) no-repeat center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.noResultsPage {
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homeFullPageImage .fullPageScreenLogo {
    text-align: center;
    padding: 25px 0px;
}

.searchbox {
    background: #fff;
    border-color: #e1e1e1 #e1e1e1 transparent;
    border-width: 0 0 2px;
    color: #595959;
    font-size: 14px;
	font-family: "open sans",sans-serif;
    height: 45px;
    resize: none;
    outline: none;
    padding: 5px 30px 5px 10px;
    width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 999;
}

.searchbox:focus {
    border-bottom: 2px solid #1271B4;
    width: 100%;
    color: #595959;
    z-index: 1000009;
}

.searchbox:active {
    border-bottom: 2px solid #1271B4;
    width: 100%;
    color: #595959;
    z-index: 1000009;
}

.searchboxExpand {
    border-bottom: 2px solid #1271B4;
    width: 100%;
    color: #595959;
}

.searchboxInnerWidth {
    width: 100% !important;
}

input.searchbox:-ms-input-placeholder {
    color: #cccccc;
}

.eachSearchBox {
    background: #f2f2f2;
    color: #7f7f7f;
    cursor: pointer;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.eachSearchBoxDetails {
    background: #f2f2f2;
    color: #7f7f7f;
    padding: 15px;
    margin: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.eachSearchBoxHeading {
    font-size: 18px;
    font-weight: bold;
    margin-right: 150px;
}

.eachSearchBoxSubHeading {
    font-weight: bold;
    padding: 5px 0px 10px 0px;
}

.eachSearchThumbnailImg {
    float: left;
    height: 150px;
    width: 250px;
    background: #fff;
    border: 1px solid #e0e0e0;
    margin: 10px 15px 10px 0px;
    display: table;
    text-align: center;
}

.eachSearchThumbnailImg img {
    display: block;
    max-width: 248px;
    max-height: 148px;
    margin: 0 auto;
}

.eachSearchThumbnailBigImg {
    float: left;
    height: 250px;
    width: 350px;
    background: #fff;
    border: 1px solid #e0e0e0;
    margin: 10px 15px 10px 0px;
    display: table;
    text-align: center;
}

.eachSearchThumbnailBigImg img {
    display: block;
    max-width: 348px;
    max-height: 248px;
    margin: 0 auto;
}

.eachSearchPublishedBox {
    background: #fff;
    color: #7f7f7f;
    padding: 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.groupImagesVideos {
    /*border-top:1px solid #e0e0e0; margin-top: 7px; padding-top: 7px;*/
}

.thumbnailBox {
    float: left;
    width: 250px;
    margin: 10px 15px 10px 0px;
    cursor: pointer;
    font-size: 12px;
}

.thumbnail {
    height: 150px !important;
    width: 250px !important;
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;
    display: table;
    text-align: center;
}

.verticalAlignMiddle {
    display: table-cell;
    vertical-align: middle;
}

.verticalAlignMiddle img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.thumbnail img {
    display: block;
    max-width: 248px;
    max-height: 148px;
    margin: 0 auto;
}

.screenshot {
    float: left;
    height: 100%;
    width: 100%;
    margin: 10px 15px 10px 0px;
    border: 1px solid #e0e0e0;
}

.screenshot img {
    height: auto;
    width: 100%;
    display: block;
}

.youTubeVideo {
    float: left;
    margin: 10px 15px 10px 0px;
    font-size: 12px;
}

.youTubeVideo iframe {
    display: block;
    height: 170px;
    width: 250px;
    border: 1px solid #e0e0e0;
    margin-bottom: 5px;
}

.captiontext {
    padding: 5px 10px;
    background-color: #f1f2f3;
    border-top: 1px solid #ccc;
}


/*--------------------------------Thumbnail Gallery------------------------*/

#gallery {}

#gallery ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#gallery ul li {
    display: inline;
}


/*#gallery ul img {
	border: 1px solid #cccccc;
	border-width: 1px 1px 1px;
	margin:7px;
}
#gallery ul a:hover img {
	border: 3px solid #2B1C3D;
	border-width: 3px 3px 3px;
	color: #fff;
}*/

#gallery ul a:hover {
    color: #2B1C3D;
}


/*--------------------------------Admin Classes------------------------*/

.articleStatus_rowDiv {
    display: table;
    width: 100%;
    cursor: pointer;
}

.articleStatus_rowDiv:hover {
    background: #f1f2f3;
	color:#126DAE;
}

.articleStatus_rowDivSelected {
    display: table;
    width: 100%;
    cursor: pointer;
    background-color: #ffff99;
}

.dashboardStatus_rowDivHeader {
    background-color: #e1e1e1;
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 100%;
}

.dashboardStatus_rowDivHeader_popup {
    /*border: 1px solid #668db6;*/
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 100%;
    font-weight: bold;
}

.dashboardStatus_rowDivHeader_popup1 {
    /*border: 1px solid #668db6;*/
    background: #e1e1e1;
    position: absolute;
    top: 40px;
    right: 0px;
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 768px;
    font-weight: bold;
}

.dashboard_cellDivHeader1 .dashboard_rowDiv {
    /*  border: 1px solid #668db6;
	background-color: #cee6fe;*/
    display: table;
    width: 100%;
}

.dashboard_cellDivHeader {
    display: table-cell;
    border-right: 1px solid #cccccc;
    width: 10%;
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

.dashboard_cellDivHeader1 {
    border-right: -1px solid #cccccc;
    display: table-cell;
    width: 5%;
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

.dashboard_cellDivHeader:first-child {
    border-right: 1px solid #cccccc;
    display: table-cell;
    width: 12%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    text-align: left !important;
    padding-left: 10px !important;
}

.dashboard_cellDivHeader:last-child {
    border-right: none;
    display: table-cell;
    width: 7%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
}

.dashboard_cellDiv {
    border-right: 1px solid #dedede;
    display: table-cell;
    width: 10%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
}

.dashboard_cellDiv1 {
    border-right: 1px solid #dedede;
    display: table-cell;
    width: 5%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
}

.dashboard_cellDiv:first-child {
    border-left: 1px solid #dedede;
    display: table-cell;
    width: 12%;
    padding: 2px 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
    text-align: left !important;
    padding-left: 10px;
}

.dashboard_cellDiv:last-child {
    display: table-cell;
    width: 7%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
}
.eachIndexGroupContainer .dashboard_cellDiv{text-align: left;}
.dashboard_cellDiv span {
    color: #ff0000;
}
.dashboard_cellDiv span.activeContent {
    color: #2c2c2c !important;
    cursor: pointer  !important;
}
.dashboard_cellDiv span.activeContent:hover {
    color: #126DAE !important;
}

.ellipsisOwb {
    white-space: pre-line;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.pad_TopBtm_5 {
    padding: 5px 0px;
}

.width_7per {
    width: 7% !important;
}

.width_6per {
    width: 6% !important;
}

.width_30per {
    width: 30% !important;
}

.width_41per {
    width: 41% !important;
}

.width_49per {
    width: 49% !important;
}

.width_50per {
    width: 50% !important;
}

.width_60per {
    width: 60% !important;
}

.width_56per {
    width: 56% !important;
}

.topBarTabsContainer {
    width: 100%;
    height: 45px;
    float: left;
    padding: 14px 15px 0px 15px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 1;
}
.HSNcodeContainer {
    left: 0px;
    position: absolute;
    top: 60px;
    bottom: 60px;
    right: 0;
	left:10px;
	width: 1090px;
	overflow-y:auto;
}

.HSNcodeTopBarTabsContainer {
    width: 1090px;
    height: 45px;
    padding: 14px 15px 0px 15px;
	text-align: center;
}
.HSNcodeTopBarTabsContainer .topBarTabs{ display: inline-block; float: none;}
.HSNcodeTopBarTabsContainer .topBarTabs ul li{ display:inline-block; font-size:16px; float: none;}
.HSNcodeTopBarTabsContainer .topBarTabs ul li:hover{ display:inline-block; font-size:16px;}

.topBarTabs {
    float: left;
}

.topBarTabs ul {
    margin: 3px 0 0;
    padding: 0px;
}

.topBarTabs ul li {
    list-style: none;
    padding: 0px 15px 3px 15px;
    margin-right: 20px;
    float: left;
    text-align: center;
    /*background-color:#dedede;*/
    cursor: pointer;
    outline: none;
}

.topBarTabs li:hover {
    list-style: none;
    float: left;
    border-bottom: 3px solid #e46c0a;
    border-color: #e46c0a;
}

.topBarTabs_Selected {
    list-style: none;
    padding: 0px 15px 3px 15px;
    float: left;
    text-align: center;
    color: #000;
    font-weight: 700;
    border-bottom: 3px solid #e46c0a;
    border-color: #e46c0a;
    cursor: default;
    outline: none;
}

.pos_relative {
    position: relative;
}

.newpagearticle-left {
    width: 550px;
    float: left;
}

.addNewFolderContainer {
    float: left;
    width: 550px;
}

.newTaskBoxContainer {
    margin-bottom: 20px;
    position: relative;
}

.folderArticleGroupContainer {
    margin-bottom: 25px;
}

.folderArticleHeading {
    color: #000;
    margin-bottom: 5px;
    font-size: 15px;
}

.allTaskMandetoryFeild {
    color: #f00;
    font-size: 22px;
    position: absolute;
    right: 7px;
    top: 12px;
    z-index: 9999;
}

.articleTextarea {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #5e5e5e;
    font-family: "open sans",sans-serif;
    font-size: 15px;
    height: 75px;
    padding: 6px 18px 6px 6px;
    resize: none;
    width: 100%;
    outline: none;
    position: relative;
}

.articleTextarea:hover {
    border: 1px solid #31859c;
    color: #595959;
    transition: all 0.3s ease 0s;
}

.articleTextarea:focus {
    border: 1px solid #31859c;
    color: #595959;
}

.articleTextarea:active {
    border: 1px solid #31859c;
    color: #595959;
}

.textarea {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #5e5e5e;
    font-family: "open sans",sans-serif;
    font-size: 15px;
    height: 32px;
    padding: 6px 25px 6px 6px;
    resize: none;
    width: 100%;
    outline: none;
    position: relative;
}

.textarea:hover {
    border: 1px solid #31859c;
    color: #595959;
    transition: all 0.3s ease 0s;
}

.textarea:focus {
    border: 1px solid #31859c;
    color: #595959;
}

.textarea:active {
    border: 1px solid #31859c;
    color: #595959;
}

.textarea-plus {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
}

.newtask-container {
    bottom: 0px;
    left: 0;
    overflow-y: hidden;
    position: absolute;
    right: 0;
    top: 40px;
}

.newTaskBottomMenuBar {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f1f2f3;
}

.newFolderBottomMenuBar-inner {
    width: 837px;
    padding: 10px;
    position: absolute;
    margin-top: -31px;
    background-color: #f2f2f2;
    border: 1px solid #d1d1d1;
}

.newArticleBottomMenuBar-inner {
    width: 100%;
    max-width: 900px;
    padding: 10px 0px;
}

.buttons-container-grey {
    padding: 15px 10px;
    background: #f1f2f3;
}

.newpage-buttons {
    float: right;
}
.button {
    font-family: "open sans",sans-serif;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
	font-size:14px;
    border: none;
    text-align: center;
    padding: 0px 15px;
    cursor: pointer;
    margin: 0 5px;
}

.button:first-child {
    margin-left: 0;
}

.button:last-child {
    margin-right: 0;
}

.buttonorange {
    background-color: #E46C0B;
    color: #FFFFFF;
    padding: 5px 15px;
}

.buttonorange:hover {
    background-color: #c55800;
}

.buttonblue {
    background-color: #126EAF;
    color: #FFFFFF;
    padding: 5px 15px;
}

.buttonblue:hover {
    background-color: #08466F;
    box-shadow: 0 0 3px #939598;
}

.buttonblue:focus {
    background-color: #08466F;
    box-shadow: 0 0 3px #939598;
}

.buttongreen {
    background-color: #007b14;
    color: #FFFFFF;
    padding: 5px 15px;
}

.buttongreen:hover {
    background-color: #006310;
    box-shadow: 0 0 3px #939598;
}

.buttongreen:focus {
    background-color: #006310;
    box-shadow: 0 0 3px #939598;
}

.buttongrey {
    background-color: #d9d9d9;
    color: #5e5e5e;
    padding: 5px 15px;
    outline: none;
}

.buttongrey:hover {
    background-color: #c8c8c8;
}

.buttongrey:focus {
    background-color: #c8c8c8;
}

.colorPillGreen {
    color: #286F83;
}

.editFolderSummaryContainer {
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 10px;
    bottom: 10px;
}

.folderSummaryContainer {
    padding: 15px;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 10px;
}

.folderSummaryGroup {
    position: absolute;
    top: 48px;
    bottom: 0px;
    left: 15px;
    right: 15px;
    overflow-y: hidden;
}

.folderNameBg {
    float: left;
    background: #f2f2f2;
    padding: 8px 10px;
    height: 36px;
    color: #000;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.folderNameIcon {
    float: left;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.folderNameText {
    float: left;
    padding: 0px;
}


/*---------Admin Drop Down---------*/

.select-wrapper {
    display: inline-block;
    border: 1px solid #e1e1e1;
    background: url(../images/dropdown.png) no-repeat right center;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.select-wrapper,
.select-wrapper select {
    width: 100%;
    height: 32px;
    line-height: 30px;
}

.select-wrapper:hover {
    background: #ffffff url(../images/dropdown-hover.png) no-repeat right center;
    border-color: #31859c;
}

.select-wrapper .holder-select {
    display: block;
    margin: 0 30px 0 7px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    /*position: relative;*/
    z-index: -1;
}

.select-wrapper select {
    margin: 0;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    outline: none;
    opacity: 0;
    /* CSS hacks for older browsers */
    _noFocusLine: expression(this.hideFocus=true);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    color: #595959;
}


/*------------------Popup Box--------------*/

.shadowPopUpBox {
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.popup-container {
    z-index: 99999;
    position: absolute;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -140px;
}

.popup-container1 {
    z-index: 99999;
    position: absolute;
    top: 20%;
    margin-top: -75px;
    left: 25%;
    width: 50%;
    height: 800px;
}

.popup-container-inner {
    padding: 20px;
    line-height: 22px;
}

.popup-container-inner-grey {
    padding: 15px 20px;
    background: #f1f2f3;
}

.centeralign-button {
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
}

.btnNewTaskBg {
    /*background-color: rgb(0, 0, 0); 
	background: #000000 url(../images/fmIconsBg.png) repeat-x repeat-y;*/
    background-image: url("../images/popupBg.png");
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    /*opacity: 0.7; 
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0.7)";
	filter: alpha(opacity=0.7);
	-khtml-opacity: 0.7;
	-moz-opacity: 0.7;*/
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 999;
}


/*------------------Login------------------*/

.headerContainerInner {
    position: absolute;
    width: 100%;
    padding: 25px 35px;
}

.container {
    margin: 0 auto;
}

.textCenter {
    text-align: center;
}

.dispTable {
    display: table;
}

.marginAuto {
    margin: auto;
}

.height100Percent {
    height: 100%;
}

.vAlignMiddle {
    vertical-align: middle;
    display: table-cell;
}

.popupContainer {
    width: 560px;
    margin: auto;
    /*background-image:url(../images/popupBg_white.png);*/
    background: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    /*min-height:340px;*/
}

.popupHeading_Container {
    padding: 15px 25px;
    background-color: #08466F;
    font-size: 24px;
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

.popupForm_Container {
    padding: 25px;
    color: #919191;
}

.popupForm_Container .heading {
    color: #31859c;
    font-size: 36px;
    margin: 15px 0;
    line-height: normal;
}

.popupForm_Container .sub-heading {
    font-size: 20px;
    margin: 20px 0 75px 0;
    line-height: normal;
}

.popup-text {
    font-size: 18px;
    line-height: 25px;
    color: #969696;
    margin: 10px 0;
}

.noArticle-heading {
    font-size: 14px;
    padding: 15px 0px;
}

.noArticleList-heading {
    font-size: 14px;
    padding: 10px;
}

.loading-heading {
    color: #ff7f17;
}

.popupForm_Container .section-links {
    margin-top: 15px;
}

.popupTextarea {
    background: none;
    border-bottom: 1px solid #d4d4d4 !important;
    color: #595959;
    font-family: "open sans",sans-serif;
    padding: 20px 0px 20px 40px;
    resize: none;
    width: 100%;
    outline: none;
    border: none;
    font-size: 18px;
    transition: all 0.3s ease 0s;
}

.popupTextarea:hover {
    border-bottom: 1px solid #31859c !important;
    color: #595959;
    transition: all 0.3s ease 0s;
}

.popupTextarea:focus {
    border-bottom: 1px solid #31859c !important;
    color: #595959;
}

.popupTextarea:active {
    border-bottom: 1px solid #31859c !important;
    color: #595959;
}

.iconName {
    background: url(../images/iconName.png?v=@@version) center left no-repeat;
}

.iconEmail {
    background: url(../images/iconEmail.png?v=@@version) center left no-repeat;
}

.iconPassword {
    background: url(../images/iconPassword.png?v=@@version) center left no-repeat;
}

.iconRetypePassword {
    background: url(../images/iconRetypePassword.png?v=@@version) center left no-repeat;
}

.button-big {
    font-size: 18px;
    padding: 8px 20px 7px 20px;
    border: none;
}

.buttonOrange {
    background-color: #E46C0B;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    outline: none;
}

.buttonOrange:hover {
    background-color: #c55800;
}

.buttonOrange:focus {
    background-color: #c55800;
}


/*---------------------------Check Box Start---------------------------*/

.checkbox-remember {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.checkbox-remember+.label-remember {
    padding-left: 25px;
    /*height:18px;*/
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    outline: none;
}

.checkbox-remember:checked+.label-remember {
    background-position: 0 -18px;
}

.label-remember {
    background-image: url(../images/checkbox_white.png?v=@@version);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.checkbox-remember:disabled+.label-remember {
    opacity: 0.2;
    cursor: default;
}

.login-checkbox-remember {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.login-checkbox-remember+.login-label-remember {
    padding-left: 25px;
    /*height:18px;*/
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 1px;
    vertical-align: middle;
    cursor: pointer;
}

.login-checkbox-remember:checked+.login-label-remember {
    background-position: 0 -17px;
}

.login-label-remember {
    background-image: url(../images/checkbox.png?v=@@version);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #919191;
    margin: 15px 0 15px auto;
}

.login-checkbox-remember:disabled+.login-label-remember {
    opacity: 0.2;
    cursor: default;
}


/*---------------------------Check Box End---------------------------*/


/*---------------------------Lower Version Page---------------------------*/

.line-containerBox {
    color: #a2a2a2;
    font-size: 16px;
    line-height: 1.6;
    background: #fff;
    border: 2px solid #D8D8D8;
    padding: 40px 20px;
    width: 750px;
    margin: 0 auto;
}

.headingBlack {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    padding: 0 0 30px 0;
}

.browser-containerBox {
    width: 100%;
    margin: 40px 0;
}

.width_4col {
    width: 25%;
    float: left;
    text-align: center;
}

.curser_pointer {
    cursor: pointer;
}

.curser_pointer_none {
    cursor: auto !important;
}

.chromeIcon {
    background-image: url("../images/icons.png?v=@@version");
    background-repeat: no-repeat;
    background-position: -20px -20px;
    width: 89px;
    height: 83px;
}

.ieIcon {
    background-image: url("../images/icons.png?v=@@version");
    background-repeat: no-repeat;
    background-position: -139px -20px;
    width: 89px;
    height: 83px;
}

.mozilaIcon {
    background-image: url("../images/icons.png?v=@@version");
    background-repeat: no-repeat;
    background-position: -265px -20px;
    width: 89px;
    height: 83px;
}

.safariIcon {
    background-image: url("../images/icons.png?v=@@version");
    background-repeat: no-repeat;
    background-position: -386px -20px;
    width: 89px;
    height: 83px;
}

.icon_txt {
    font-size: 16px;
    color: #404040;
    font-weight: bold;
}

.margin_auto {
    margin: auto;
}

.option_label {
    width: 100%;
    color: #595959;
    font-family: "open sans",sans-serif;
    resize: none;
    outline: none;
    border: none;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.option_label1 {
    background: none;
    width: 70%;
    color: #595959;
    font-family: "open sans",sans-serif;
    resize: none;
    outline: none;
    border: none;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.option_label2 {
    height: 25px;
    border-radius: 3px;
    text-align: center;
    width: 38%;
    color: #595959;
    font-family: "open sans",sans-serif;
    border: 1px solid #aeaeae;
    resize: none;
    outline: none;
    border: none;
    font-size: 12px;
    transition: all 0.3s ease 0s;
}

.dashboard_option {
    font-family: "open sans",sans-serif;
    font-size: 10px;
    display: table-cell;
    width: 90px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
}

.dashboard_option1 {
    font-family: "open sans",sans-serif;
    font-size: 10px;
    display: table-cell;
    width: 45px;
    padding-left: 10px;
    text-align: center;
    vertical-align: middle;
}

.dashboard_option_Header {
    /*border: 1px solid #668db6;*/
    background-color: #e1e1e1;
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 325px;
    font-weight: bold;
    margin: 0 auto;
}

.dashboard_option_content {
    /*border: 1px solid #668db6;*/
    background-color: #e1e1e1;
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 50%;
    font-weight: bold;
    margin: 0 auto;
}

.preview {
    z-index: 99999;
}

.mobile_view_outer {
    width: 100%;
    margin: 0 auto;
}

.mobile_view {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 25px 25px 0px 70px;
    overflow-y: hidden;
    /* max-height: 480px; */
    position: absolute;
    top: 90px;
    bottom: 25px;
    right: 0;
}

.mobile_view_frame {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    border: 1px solid #999;
}

.content-panel-mobile {
    background: #fff;
    width: 768px;
}

.float_left {
    position: absolute;
    bottom: -1px;
}

.modalWindow {
    position: absolute;
    font-family: "open sans",sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalWindow:target {
    opacity: 1;
    pointer-events: auto;
}

.modalWindow>div {
    width: 768px;
    position: absolute;
    margin: 0 auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    top: 25px;
    bottom: 25px;
    margin-left: 25%;
    z-index: 99999;
}

.app_icon_fixed {
    display: table;
    position: absolute;
    bottom: 0px;
    width: 225px;
    background: #fff;
    font-size: 10px;
    cursor: pointer;
    text-align: center !important;
    border-top: 1px solid #e2e2e2;
    color: #a5a5a5;
    height: 30px;
}

.powered_by_icon_fixed {
    bottom: 0;
    color: #a5a5a5;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    padding-top: 7px;
    position: absolute;
    text-align: center;
    width: 225px;
}

.powered_by_icon_fixed .builtOn {
    display: inline-block;
    line-height: 15px;
    vertical-align: top;
    margin-right: 2px;
}

.powered_by_icon_fixed .logoKnowledgeApps {
    display: inline-block;
}

.drop_list {
    width: 100%;
    overflow: hidden;
    background: url(../images/arrow1.png) right center no-repeat;
    border-radius: 3px;
}

.drop_list select {
    -webkit-appearance: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: transparent;
    font-size: 1.2em;
    width: 100%;
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
    width: 30px;
}

.holder_bottom_text {
    font-size: 12px;
    color: #919191;
    margin-top: 10px;
    line-height: 17px;
}

.margin_right {
    margin-right: 9px;
}

.logout-text {
    float: left;
    margin: 15px;
}

.recent-scroll-list {
    position: absolute;
    top: 100px;
    width: 100%;
}

.outer_container {
    position: absolute;
    top: 40px;
    bottom: 0px;
    overflow-y: hidden;
    padding: 15px;
}

.articleCount {
    font-size: 11px;
    text-align: center;
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: normal;
    line-height:21px;
}

.eachArticle-tilte-date {
    font-size: 11px;
}

.error-msg-height {
    height: 25px;
}

.error-msg {
    color: #e63f40;
}

.success-msg {
    color: #05AF66;
}

.articleEditerContainer {
    position: absolute;
    bottom: 0px;
    overflow-y: hidden;
    top: 5px;
    width: 100%;
    padding: 15px;
}

.articleScrollContainer {
    position: absolute;
    bottom: 10px;
    top: 5px;
    width: 100%;
    padding: 0px 15px;
    overflow-y: hidden;
    word-wrap: break-word;
}


/*----------------------------------------------Profile Classes-----------------------------------------*/

.userProfileContainer {
    margin-bottom: 25px;
}

.eachProfileContainer {
    margin-bottom: 10px;
}

.eachProfileContainer .eachDescriptionContainer {
    float: left;
    min-width: 150px;
    max-width: 550px;
}

.eachProfileContainer .eachDescriptionContainer span {
    padding-right: 10px;
}

.errorContainer {
    height: 35px;
    color: rgb(255, 0, 0);
    padding: 10px 0px;
}

.informationLine {
    line-height: 27px;
}

.userLogout {
    float: right;
    cursor: pointer;
}


/*----------------------------------------------Drop Down CSS Start-----------------------------------------*/

.drop-down-container {
    display: block;
    position: relative;
}

.drop-down-container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    color: #595959;
    cursor: pointer;
    margin: 0;
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #5e5e5e;
    font-family: "open sans",sans-serif;
    font-size: 15px;
    height: 34px;
    padding: 5px 5px;
    resize: none;
    width: 100%;
    outline: none;
    position: relative;
}

.drop-down-container select:focus {
    border: 1px solid #31859c;
}

.drop-down-container select:active {
    border: 1px solid #31859c;
}

.drop-down-container select:hover {
    border: 1px solid #31859c;
}

select::-ms-expand {
    display: none;
}

.drop-down-container::after {
    font-family: "WorkApps";
    font-style: normal;
    font-weight: normal;
    content: "\00B6";
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 8px;
    z-index: 1;
}

.drop-down-container select option {
    padding: 2px 10px;
}

.text_align_center {
    text-align: center;
}

.video_kee_logo {
    float: right;
}
.video_kee_logo img {
    height: 22px;
    width: auto;
}
.pad_right_10 {
    padding-right: 10px;
}

.txtRed {
    color: #ff0000;
}

.content-panel-edit {
    position: absolute;
    left: 225px;
    right: 0px;
    top: 0;
    bottom: 0;
    background: #fff;
    z-index: 6;
    line-height: 23px;
}

.createfolderBottomMenuBar-inner {
    width: 100%;
    max-width: 750px;
    padding: 10px 0px;
}
.article-detail-content-panel{
    padding-top: 10px;
}
.article-detail-content-panel img{
    max-width: 100%;
}
.CxSpMiddle{
    margin: 0px !important;
}
.contectOverlay {
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    left: 301px;
    background-color: #ffffff;
    z-index: 999;
}

.buttonChangePassword {
    margin-left: 0;
}

.article-detail-content-panel hr, .cke_editable hr{
	height:1px;
	border:0px;
	background:#969696;
	margin:15px 0;
}
/*Web Article CSS Start*/
.article-detail-content-panel{color:#2c2c2c;}
.article-detail-content-panel p, .article-detail-content-panel span, .article-detail-content-panel div, .article-detail-content-panel table{
    /*font-size: 15px !important;*/
	line-height: 23px !important;
}
.article-detail-content-panel .eachFileContainer > .eachFileDescription div{
    font-size: 14px !important;
}
.article-detail-content-panel div.eachFileContainer .eachFileDescription .eachFileName{
    font-size: 14px !important;
}
.article-detail-content-panel div, .article-detail-content-panel p, .article-detail-content-panel span {
    text-align: justify !important;
}
.article-detail-content-panel p {
    clear: both !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.article-detail-content-panel table {
    margin-top: 10px !important;
	margin-right:0px;
	margin-bottom: 10px !important;
	margin-left:0px;
	text-align: left!important;
}
.article-detail-content-panel table td, .article-detail-content-panel table th {
    margin: 0px !important;
    padding: 5px !important;
    border-color: #969696 !important;
}
.article-detail-content-panel table p {
    margin: 0px !important;
	padding:0px !important;
	text-align: left!important;
}
.article-detail-content-panel ul, .article-detail-content-panel ol {
    margin: 6px 0 !important;
    padding: 0 !important;
}
.article-detail-content-panel ul li, .article-detail-content-panel ol li {
    margin-left:30px !important;
    padding-left: 10px !important;
	margin-bottom:0px !important;
}
.article-detail-content-panel h3{
	margin: 15px 0 3px 0!important;
    font-size: 17px!important;
	font-weight: bold!important;
}
.article-detail-content-panel h4{
	margin: 12px 0 0 0!important;
	font-weight:bold!important;
}
/*Web Article CSS End*/

/*Editor CSS Start*/
.cke_editable{  color: #2c2c2c;   background: #fff;}
.cke_editable p, .cke_editable span, .cke_editable div, .cke_editable table{
    font-size: 15px !important;
	line-height: 23px !important;
}
.cke_editable div, .cke_editable p, .cke_editable span {
    text-align: justify !important;
}
.cke_editable p {
    clear: both !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
	font-size: 15px !important;
}
.cke_editable table {
	margin-top: 10px !important;
	margin-right:0px;
	margin-bottom: 10px !important;
	margin-left:0px;
	text-align: left!important;
}
.cke_editable table td, .cke_editable table th {
    margin: 0px !important;
    padding: 5px !important;
    border-color: #969696 !important;
}
.cke_editable table p {
    margin: 0px !important;
	padding:0px !important;
	text-align: left!important;
}
.cke_editable ul, .cke_editable ol {
    margin: 6px 0 !important;
    padding: 0 !important;
	line-height: 23px !important;
	font-size: 15px !important;
}
.cke_editable ul li, .cke_editable ol li {
    margin-left:30px !important;
    padding-left: 10px !important;
	margin-bottom:0px !important;
}
.cke_editable h3{
	margin: 15px 0 3px 0!important;
    font-size: 17px!important;
	font-weight: bold!important;
}
.cke_editable h4{
	margin: 12px 0 0 0!important;
	font-weight:bold!important;
}
/*Editor CSS End*/

/*-------------------------CSS August Release-------------------*/
.logo-containerExpand {
    float:right;
	margin:0 0 0 30px;
}
.eachFolderName{
	float: left;
	max-width: 145px;
	padding-right: 5px;
}
.eachArticleContainer_expand {
    padding: 10px 40px;
    word-wrap: break-word;
	max-width:1280px;
	margin:auto;
    position: relative;
    min-height: 100%;
    background: #fff;
}
.eachArticleContainer_outer {
    padding: 10px 40px;
    word-wrap: break-word;
	max-width:1280px;
	margin:auto;
    position: relative;
    min-height: 100%;
    background: #fff;
}
.iconExpand {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -65px -37px no-repeat;
    margin-top: 12px;
	margin-left: 10px;
    cursor: pointer;
}

.iconExpand:hover {
    background: url(../images/iconsGroup.png) -65px -66px no-repeat;
    cursor: pointer;
}
.eachArticleContainer .eachFileContainer .eachFileDescription .txtFileDateTime span{font-size: 12px !important;}
.eachArticleContainer_expand .eachFileContainer .eachFileDescription .txtFileDateTime span{font-size: 12px !important;}

.eachBotSearchContent .eachFileContainer .eachFileDescription .txtFileDateTime span{font-size: 12px !important;}

.botSearchContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    color: #a5a5a5;
    height: 51px;
    z-index: 1000005;
    box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
}
.eachBotSearchContent {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 51px;
    right: 0;
    padding: 0px 10px 0px 15px;
    overflow: hidden;
    word-wrap: break-word;
        background: #fff;
    z-index: 1000002;
}
.botTextarea {
	background: #fff url(../images/bot.png) 6px center no-repeat;
    color: #5e5e5e;
    font-family: "open sans",sans-serif;
    font-size: 15px;
    height: 50px;
    padding: 6px 6px 6px 55px;
    resize: none;
    width: 100%;
    outline: none;
	border:none;
}

.indexContainer {
    padding: 10px 15px;
    width: 100%;
    position: absolute;
    top: 5px !important;
    bottom: 50px;
	overflow-y:hidden;
    padding-right: 0px;
}
.index_rowDivHeader {
    /*background-color: #e1e1e1;*/
    color: #595959;
    display: table;
    border-radius: 3px 3px 0px 0px !important;
    -moz-border-radius: 3px 3px 0px 0px !important;
    -webkit-border-radius: 3px 3px 0px 0px !important;
    width: 100%;
	cursor:pointer;
}
.index_rowDivHeader:hover {/*background-color: #cecece;*/ color:#126DAE;}
.eachIndexGroupContainer .articleStatus_rowDiv .dashboard_cellDiv {
    border: none !important;
        padding: 0px 5px;
}
.eachIndexGroupContainer .index_rowDivHeader, .articleStatus_rowDiv {
    background: none !important;
}
.eachIndexGroupContainer .index_rowDivHeader .dashboard_cellDivHeader {
	font-size:16px;
    font-weight:bold;
	padding-left: 0px !important;
}
.eachIndexGroupContainer .index_rowDivHeader:hover, .articleStatus_rowDiv:hover {
    background: none !important;
	color:#126DAE;
}
.eachIndexText{ padding:5px 10px;}
.eachIndexGroupContainer{ margin-bottom: 15px; border-bottom: 1px solid #dedede; padding-bottom: 15px;}
.eachIndexGroupContainer:last-child{ margin-bottom:0px;}
.eachIndexGroupContainer .deactiveRow{ cursor:default !important; color: #595959 !important;}
.eachIndexGroupContainer .activeRow{ cursor:pointer !important; color: #126DAE !important;}
/*------------------------Bot Container-------------------*/
.mainContainer-gst {
	position: absolute;
	top: 10px;
	bottom:10px;
	left:10px;
	right:10px;
}
.gst-commentsGroup {
	position: absolute;
	bottom: 0px;
	right: 10px;
	left: 0px;
}
.gst-commentsScrollContainer {
    position: absolute;
    bottom: 0px;
    right: 15px;
    left: 15px;
	width:1090px;
}
.eachUserCommentBoxSpinner { position:absolute; top:50%; right:0px; width: 50px; height: 15px; margin-top: -6px; background: url(../images/spinner.gif) center center no-repeat; background-size: 70% 70%;}
.eachUserCommentBox {
    background: #056FB8;
    padding: 10px 15px;
    border-radius: 5px;
    line-height: 21px;
    margin: 25px 15px 25px 40px;
    position: relative;
    color:#fff;
}
.eachBotHelpCommentBox {
	background: #1276BB;
	color:#fff;
	padding: 10px 15px;
	border-radius: 5px;
	line-height: 21px;
	margin: 25px 15px 25px 40px;
	position: relative;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.eachBotCommentBox {
	background: #f7f7f7;
	padding: 10px 0px 10px 15px;
	border-radius: 5px;
	line-height: 21px;
	margin: 25px 15px 25px 40px;
	position: relative;
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}
.eachDateTime {
	float:right;
	font-size:12px;
	color:#a6a6a6;
}
.eachComment-userIcon {
	position: absolute;
	left: -45px;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	/*border-radius: 35px;*/
	background: url(../images/iconUser.png) center center no-repeat;
	/*box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);*/
	z-index: 999;
}
.eachComment-botIcon {
	position: absolute;
	left: -45px;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	/*border-radius: 35px;*/
	background: url(../images/bot.png) -4px center no-repeat;
	/*box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);*/
	z-index: 999;
}
.textComment-box {
	position: absolute;
	bottom: 25px;
	background: #d9f5ff;
	border-radius: 5px;
	margin-left: 50px;
	left: 0;
	right: 10px;
	box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.botAnswer{
	/*width: 656px;
	display: inline-block;*/
	/*margin:0 0px 15px 0;*/
	vertical-align: top;
	/*border-right: 1px solid #ddd;
	padding-right: 15px;*/
	text-align: justify;
	padding: 0px 10px;
}
.botSearchResultContainer {
    position: relative;
}
/*.botSearchResultContainer::before {
    border-left: 1px solid #ddd;
    position: absolute;
    left: 655px;
    top: 0;
    bottom: 15px;
    content: "";
}*/
.botSearchResultScrollContainer{
	max-height: 325px;
}
.botAnswerArticle{
	vertical-align: top;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9;
}
.botAnswerArticle:last-child{
	vertical-align: top;
    margin-bottom: 0px;
    border-bottom: 0px solid #e9e9e9;
}

.elasticAnswerArticle{
	vertical-align: top;
    margin-bottom: 10px;
}
.elasticAnswerArticle:last-child{
	vertical-align: top;
    margin-bottom: 0px;
    
}

.botChatAnswerArticle{
	vertical-align: top;
	margin-bottom: 10px;
	border-bottom: 1px solid #e9e9e9;
}
.botAnswerEachArticleContainer{
	vertical-align: top;
	padding: 10px;
	margin-bottom: 10px;
    cursor:pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
 }
.botAnswerEachArticleContainer:hover{ background: #1276BB; color:#fff;}
.botAnswerEachArticleContainer:hover > .eachArticleText{color: #ccc; }

.elasticAnswerEachArticleContainer{
	vertical-align: top;
	padding: 0px;
	margin-bottom:5px;
	cursor:pointer;
	font-size:14px;
}

.eachArticleText{
    color: #7d7d7d; 
    font-size:13px;
    line-height: 20px;
}
.eachArticleText span:hover{
   cursor: pointer;
   color: #1271B4;
}
.eachArticleText span.inFileFolder{
    cursor: default;
    color: #7d7d7d;
 }

.eachArticleText h3{
    margin: 0;
    padding: 0px;
    font-weight: normal;
    font-size: 13px;
}
.eachArticleText .eachArticleHeading{
  float: left;
  margin-right: 5px;
}
.nlpSearchContainer{
	margin-right: 15px;
	/*border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px; */
}
.nlpSearchContainer:last-child{
	margin-bottom: 0px;
}
.nlpSearchContainer:last-child .botAnswer{
	margin-bottom: 0px;
}
.containerRateTheAnswer{
	margin-top: 10px;
}
.txtRateTheAnswer{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	color: #8a8a8a;
}
.codeSearchResultScrollContainer{ position:absolute; top:0px; bottom:40px; overflow-y:auto;}
.codeSearchResultGroup{box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.2); padding:10px;}
.codeSearchResultGroup .col5{ display:inline-block; width:205px;}
.codeSearchResultGroup .eachGroup{ margin:5px 0px;}

.fontboldspan{font-weight: bold;}

.containerCodeSearch{
	display:inline-block;
	text-align:center;
	padding:15px 25px;
}
.searchNoResults{text-align:center;margin-top:30px;}
.searchCode{ padding:15px;}
.searchHeading{ padding: 10px 10px 0 10px; font-size: 16px; font-weight: normal;}
.searchCodeContainer{ margin:15px 5px;}

.eachCodeContainer{ display:inline-block; margin: 0 10px; width:75px; font-size:12px; color:#878787;}
.eachCodeContainer.digit1{ width:45px;}
.eachCodeContainer.digits2{ width:75px;}
.eachCodeContainer.digits4{ width:150px;}
.eachCodeContainer.goodsProductCode{ width:415px; margin:0 auto;}

.eachCodeTextArea {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #5e5e5e;
    font-family: "open sans",sans-serif;
    font-size: 15px;
	text-align:center;
    padding: 8px 6px;
    resize: none;
    width: 100%;
    outline: none;
	box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
	margin-bottom:5px;
}

.eachCodeTextArea:hover {
    border: 1px solid #31859c;
    color: #595959;
    transition: all 0.3s ease 0s;
}
.eachCodeTextArea:focus {
    border: 1px solid #31859c;
    color: #595959;
    transition: all 0.3s ease 0s;
}
.eachCodeTextAreaGrid {
	border-top: none !important;
	border: 1px solid #e1e1e1;
	height:15px;
	margin:5px 10px 0 10px;
}

.searchCode_rowDiv { display: table; width: 100%;}
.searchCode_rowDiv:nth-child(2n+2) { background:#f9f9f9;}

.searchCode_cellDivHeader {
    display: table-cell;
    border-right: 1px solid #cccccc;
    width: 11.11%;
    text-align: center;
    vertical-align: middle;
    height: 25px;
	padding:5px;
}
.searchCode_cellDivHeader:first-child {
    border-right: 1px solid #cccccc;
    display: table-cell;
    width: 11.11%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    padding-left: 10px !important;
}
.searchCode_cellDivHeader:last-child {
    border-right: none;
    display: table-cell;
    width: 11.11%;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    height: 25px;
}
.searchCode_cellDiv {
    border-right: 1px solid #dedede;
    display: table-cell;
    width: 11.11%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
}
.searchCode_cellDiv:first-child {
    border-left: 1px solid #dedede;
    display: table-cell;
    width: 11.11%;
    padding: 2px 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
    padding-left: 10px;
}

.searchCode_cellDiv:last-child {
    display: table-cell;
    width: 11.11%;
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #dedede;
    height: 25px;
    vertical-align: middle;
}
.aboutDownloadContainer {
    position: absolute;
    top: 20px;
    padding: 0px 15px;
    bottom: 5px;
    overflow-y: auto;
}

.eachAboutDownloadContainer{ margin-bottom:20px; padding:0px 10px;}
.eachAboutDownloadContainer p{ font-weight:bold; margin:0px !important;}
.downloadFile{ padding:5px 5px 5px 35px; background: url(../images/iconDownloadPDF.png) 5px center no-repeat; cursor:pointer; max-width:750px;}
.downloadFile:hover{background:#f2f2f2 url(../images/iconDownloadPDF.png) 5px center no-repeat;}

.eachFileNameAndSize{ display:inline-block;}
.eachFileNameAndSize:last-child{ float:right;}
.eachFileAndArticleResultContainer{
	/* width: 230px; */
	display: inline-block;
	/*border: 1px solid #ddd;
	padding: 10px;
	background: #fff;*/
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 5px 10px 10px 0px;
    vertical-align: top;
    /* display: none; */
}
/* .eachFileAndArticleResultContainer:nth-child(1){ display: block}
.eachFileAndArticleResultContainer:nth-child(2){ display: block}
.eachFileAndArticleResultContainer:nth-child(3){ display: block}
.eachFileAndArticleResultContainer:nth-child(4){ display: block}
.eachFileAndArticleResultContainer:nth-child(5){ display: block}
.eachFileAndArticleResultContainer:nth-child(6){ display: block}
.eachFileAndArticleResultContainer:nth-child(7){ display: block}
.eachFileAndArticleResultContainer:nth-child(8){ display: block} */

.eachFileWithBotAnswerContainer {
    max-width: 235px; 
    padding: 0px 0 0 5px;
	line-height: 18px;
    /*margin-top: 8px;
    border-top: 1px solid #ddd;
    height: 36px;*/
}
.eachFileWithBotAnswerContainer .eachFolderHeading{
    font-size:12px;
}
.eachFileAndArticleResultContainer .eachFileContainer{
	float:none !important;
	margin:0px !important;
	/*width:235px !important;*/
	border: none !important;
	background:none !important;
	padding:5px !important;
	height:64px;
}
.eachFileAndArticleResultContainer .eachFileContainer:hover {
    background: #eaeaea !important;
	padding:5px !important;
}
.eachFileAndArticleResultContainer .eachFileContainer .icon-fileIcons { top: -12px !important;}
.fileGroupSeperator{     height: 1px;
    background: #ddd;
    margin: 5px 0px 0px 0px;
    width: 100%;
    position: absolute;
    left: 0px;}
.nlpArticleName{
    color: #126DAE;
    cursor: pointer;
    font-weight: bold;
}
.nlpFolderName{
    color: #8e8e8e;
}
.chatBotAnsEllipces { 
    overflow: hidden; 
    min-height: 20px;
    max-height:100px;
    line-height: 19px; 
}
.chatBotAnsEllipces p{
    margin: 10px 0px;
}
.articleResultEllipces { 
   overflow: hidden;
   min-height: 20px;
   max-height: 60px;
   line-height: 20px;
}
img.imageDownload{
    max-width: 100%;
    height: auto;
}
.eachCodeTextArea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cecece;
}
.eachCodeTextArea::-moz-placeholder { /* Firefox 19+ */
  color: #cecece;
}
.eachCodeTextArea:-ms-input-placeholder { /* IE 10+ */
  color: #cecece;
}
.eachCodeTextArea:-moz-placeholder { /* Firefox 18- */
  color: #cecece;
}
.width_47per {
    width: 47% !important;
}
.width_19per {
    width: 19% !important;
}
.txtDisabled {
    color: #999;
    font-weight: normal;
}
.tabDisbale {
    color: #999;
    font-weight: normal;
    cursor: default !important;
    border: none !important;
    pointer-events: none;
}
/*--------------------Changes 18Sep2017-----------------*/

.headingIndex {
    color: #595959;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 0;
}
.HSNcodeTopBarTabsOuterContainer {
    height: 45px;
    padding: 0px;
	text-align: center;
}
.HSNcodeTopBarTabsOuterContainer .topBarTabs{ display: inline-block; float: none;}
.HSNcodeTopBarTabsOuterContainer .topBarTabs ul li{ display:inline-block; font-size:16px; float: none;}
.HSNcodeTopBarTabsOuterContainer .topBarTabs ul li:hover{ display:inline-block; font-size:16px;}

.eachCodeContainer.digits2{ width:70px;}
.eachCodeContainer.digits4{ width:90px;}
.eachCodeContainer.digit1{ width:50px;}
.codeSearchResultGroup .eachGroup {margin: 0px;}

.eachArticleHeaderOuter {
    width: 100%;
    padding: 5px 0px 0px 0px;
    color: #1271B4;
    z-index: 1;
    font-size: 16px;
    height: 45px;
    display: table;
}

.eachArticleHeaderOuter h1 {
    font-size: 18px;
    color: #126DAE;
    margin: 0 0 5px 0;
	line-height:23px;
	text-align: justify;
}
.popupHeading_Container {
    padding: 15px 25px;
    background-color: #1F567B;
    font-size: 24px;
    color: #ffffff;
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
}

.shadowPopUpBox.feedbackArticleContainer { width:700Px;}
.feedbackArticleTextarea {
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    color: #5e5e5e;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    height: 205px;
    padding: 6px 18px 6px 6px;
    resize: none;
    width: 100%;
    outline: none;
    position: relative;
}

.feedbackArticleTextarea:hover {
    border: 1px solid #31859c;
    color: #595959;
    transition: all 0.3s ease 0s;
}

.feedbackArticleTextarea:focus {
    border: 1px solid #31859c;
    color: #595959;
}

.feedbackArticleTextarea:active {
    border: 1px solid #31859c;
    color: #595959;
}
.iconFeedback {
    height: 18px;
    width: 18px;
    background: url(../images/iconsGroup.png) -64px -94px no-repeat;
    margin-top: 12px;
	margin-left: 10px;
    cursor: pointer;
}

.iconFeedback:hover {
    background: url(../images/iconsGroup.png) -64px -121px no-repeat;
    cursor: pointer;
}
.indexListScrollContainer{
    padding: 10px 40px;
    position: absolute;
    top: 42px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.outerRateFinderContainer {
    position: absolute;
    top: 100px;
    bottom: 152px;
    left: 0px;
    right: 0px;
    overflow-y: auto;
}
.invitationfooter{
    position: absolute; bottom: 10;left: 0;right: 0;
}
/*----------------------------------------------ON / OFF Swithch -----------------------------------------*/
.onoffswitchContainer{ float:right; margin-top:1px;}
.onoffswitch{
	position:relative;width:35px;
	-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;
}
.onoffswitch-checkbox{
	display:none;
}
.onoffswitch-label{
	display:block;overflow:hidden;cursor:pointer;
	border:1px solid #E4E0E0;border-radius:20px;
	height:19px;
}
.onoffswitch-inner{
	display:block;width:200%;margin-left:-100%;
	transition:margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after{
	display:block;float:left;width:50%;height:21px;padding:0;line-height:20px;
	font-size:11px;color:white;font-family:"Lato", Arial, sans-serif;font-weight:bold;
	box-sizing:border-box;
}
.onoffswitch-inner:before{
	content:"";
	padding-left:10px;
	background-color: #4BD663;color:#FFFFFF;
}
.onoffswitch-inner:after{
	content:"";
	padding-right:10px;
	background-color:#EEEEEE;color:#999999;
	text-align:right;
}
.onoffswitch-switch{
	display:block;
	width:18px;
	margin:1px;
	background:#FFFFFF none repeat scroll 0% 0%;
	position:absolute;
	top:0px;
	bottom:0px;
	right:13px;
	border:1px solid #999;
	border-radius:20px;
	transition:all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner{
	margin-left:0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch{
	right:0px;
	background-color:#FFFFFF;
	width:16px;
}
.eachArticleAnswerContainer {
    padding: 2px 0px;
	line-height: 20px;
    margin-bottom: 5px;
    /*display: none;*/
}
/*.eachArticleAnswerContainer:nth-child(1){ display: block;}
.eachArticleAnswerContainer:nth-child(2){ display: block;}
.eachArticleAnswerContainer:nth-child(3){ display: block;}*/
.eachArticleAnswerContainer.showAll {
    display: block;
}
.eachArticleAnswerContainer .eachArticleText{
	margin-left: 10px;
}
.eachArticleAnswerContainer span{
    color: #1271B4;
    cursor: pointer;
}
.articleSearchContainer{
    margin-right: 15px;
}
.botSearchResultScrollContainer .linkShowMore{ color:#E46C0A; font-size:12px; cursor: pointer;}

.botSearchTopBarTabs {padding: 1px 10px 0px 15px; background: #f5f5f5; border-radius: 5px 5px 0 0;}
.botSearchTopBarTabs ul {
    margin: 0;
    padding: 0px;
	/*border-radius: 5px 5px 0 0;*/
	float:left;
}

.botSearchTopBarTabs ul li {
    list-style: none;
    padding: 5px 15px;
    margin:0 35px 0 0;
    float: left;
    text-align: center;
	/*border-top: 3px solid #f7f7f7;
    background-color:#dedede;*/
    cursor: pointer;
    outline: none;
	/*border-left: 1px solid #f7f7f7;
	border-right: 1px solid #f7f7f7;*/
}

.botSearchTopBarTabs li:hover {
    list-style: none;
    float: left;
    border-bottom: 3px solid #1276BB;
	/*background: #fff;
	border-radius: 5px 5px 0 0;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;*/
}

.botSearchTopBarTabs_Selected {
    border-bottom: 3px solid #1276BB !important;
	font-weight:bold;
	/*background: #fff;
	border-radius: 5px 5px 0 0;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;*/
}

.botSearchAnswer{
	padding: 10px 0;
	margin: 0 15px;
	/*border-bottom: 1px solid #eaeaea;*/
}
.botSearchIconExpand {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -65px -37px no-repeat;
    margin-top: 10px;
	margin-left: 10px;
    cursor: pointer;
}

.botSearchIconExpand:hover {
    background: url(../images/iconsGroup.png) -65px -66px no-repeat;
    cursor: pointer;
}
.botSearchIconCollapse {
    height: 17px;
    width: 17px;
    background: url(../images/iconsGroup.png) -65px -142px no-repeat;
    margin-top: 10px;
	margin-left: 10px;
    cursor: pointer;
}

.botSearchIconCollapse:hover {
    background: url(../images/iconsGroup.png) -65px -155px no-repeat;
    cursor: pointer;
}
.expandImgContainer{
    text-align: center;
    margin-top: 20px;
}
.expandImgText{
    margin-top: 10px;
}
.maxWidth{
    max-width: 100%;
}
.maxWidth img{
    max-width: 100%;
}
/*----------------------------------------------Elastic Search-----------------------------------------*/
.elasticSearchResultScrollContainerExpand{
	padding: 10px 0 30px 0;
	/* background: #fff; */
	margin: 0 2px 0px 15px;
    height: 100%;	
}
.elasticSearchResultScrollContainer{
	height: 210px;
	/* overflow-y: auto; */
	padding: 10px 0 0 0;
	background: #fff;
	margin: 0 2px 0px 15px;
	/*border-radius: 0px 5px 5px 5px;
	border: 1px solid #efefef;
	border-top: 0px;*/
}
.elasticSearchResultScrollContainer.searchExpand{height: 440px !important;}
.eachElasticCommentBox {
	/*background: #f7f7f7;*/
	padding: 0px 0px 10px 0px;
	border-radius: 5px;
	line-height: 21px;
	margin: 25px 15px 25px 40px;
	position: relative;
	/*box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);*/
	border: 1px solid #85bded;
}
.searchHighlight{
    background-color: yellow;
    font-weight: bold;
}
.articleSearchHighlight{
    font-weight: bold;
}
.eachBotCommentBoxExpandOuter {
    background: #fff;
    z-index: 1000005 !important;
    position: absolute;
    left: 15px;
    right: 15px;
    top: -10px;
    bottom: 0;
   width: 1090px;
}
.eachBotCommentBoxExpand {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0;
    left: 0;
    height: auto;
    padding: 0px 0px 10px 0px;
    margin: 25px 15px 15px 40px;
    border-radius: 5px;
    line-height: 21px;
    border: 1px solid #85bded;
}
.rateFinderMinHeight{
    min-height: 420px;
}
.videoContainer{ padding:10px 0px;}
.videoImgContainer{ max-width:750px; height: 425px; position: relative;}
.videoSize{ max-width:100%; height:425px;}

.videoImageBackground{}
.videoImageBackground img {
    max-width: 750px;
    height: auto;
    cursor: pointer;
}
.videoContainer h1 {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin: 10px 0px;
}
.videoContainerDescriptionRow{ margin:7px 0px;}
.videoContainerDescriptionRow .descriptionColLeft{ float:left; width:120px;}
.videoContainerDescriptionRow .descriptionColRight{ padding:0 15px 0 120px;}
.videoContainerDescriptionRow .descriptionColRight .noteDescription{ margin-bottom:10px;}
video::-internal-media-controls-download-button {
    display:none;
}
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
video::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
video{
max-width:100% !important;
}
.noInternetConnectionContainer{
	position:absolute; 
	border: 1px solid #f5f5f5; 
	bottom: 0; 
	top: 0; 
	width:100%; 
	background:#ffffff; 
}
.noInternetOuterContainer{
	display: table; 
	height:100%; 
	width:100%;
}
.article-detail-content-panel .noInternetInnerContainer{
	display: table-cell; 
	height:100%; 
	width:100%; 
	vertical-align:middle; 
	text-align:center !important; 
	line-height:27px !important;
}
.vjs-current-time{
    width: 35px !important;
}
.quality-4{
  display: none !important;
}
/*----------------------------------------------Elastic Search End-----------------------------------------*/

/*----------------------------------------------ON / OFF Switch End-----------------------------------------*/
@media screen and (max-width: 1400px){
    
    body.body-responsive{ max-width:100% !important; min-width:100% !important;}
    
	/* .eachArticleContainer_expand { max-width:100%;} */
	.codeSearchResultGroup .col5{ width:20%; float:left;}
}
@media screen and (max-width: 767px){
    .videoImageBackground img{max-width: 100%; height:auto; cursor:pointer;}
	.codeSearchResultGroup .col5{ width:33.3%;}
    .logo-containerExpand{ float:none; text-align:center; margin:0 0 15px 0px;}
    .HSNcodeTopBarTabsOuterContainer .topBarTabs.visibleFalse{ display: none;}
    .hsn-result-overlay-outer{ display: none; }
    .spinnerOverlay {display: none;}
    .spinnerBg.spinner-bottom { display: none;}
    .indexListScrollContainer { top: 70px;}
    .fakeoverLayIndexList { top: 10px; }
    .containerCodeSearch{width:100%}
	.eachCodeContainer.goodsProductCode{width:100%;}
    .eachArticleContainer_outer {padding: 10px;}
    iframe {
        max-width: 100% !important;
        height: 300px !important;
    }
    .rateFinderMinHeight{
        min-height: auto;
    }
    .eachFileIconImgType{max-width:70%;}
    .eachFileIconImgType img {
        max-width: 100% !important;
        float:left;
    }
    .eachFileDescription {
        max-width: 30%;
    }
}
@media screen and (max-width: 640px){
    .eachArticleHeaderOuter h1 {
        text-align: center;
    }
}
@media screen and (max-width: 480px){
	.containerCodeSearch{margin: 0px; padding: 15px 0px; width:100%;}
	.codeSearchResultGroup .col5{ width:50%;}
	.codeSearchResultGroup .col5:nth-child(1){ width:55%;}
	.codeSearchResultGroup .col5:nth-child(2){ width:45%;}
	.codeSearchResultGroup .col5:nth-child(3){ width:55%;}
	.codeSearchResultGroup .col5:nth-child(4){ width:45%;}
	.codeSearchResultGroup .col5:nth-child(5){ width:100%;}
	.HSNcodeTopBarTabsOuterContainer{ padding:0px; height:60px;}
	.HSNcodeTopBarTabsOuterContainer .topBarTabs ul li{ margin-bottom:5px; margin-right: 0px;}
	.eachCodeContainer.goodsProductCode{ width:100%;}
	.eachCodeContainer {width: 50px; margin: 0 5px; vertical-align:top;}
	.eachCodeContainer.digits2 { width: 75px;}
	.eachCodeContainer.digit1 {  width: 50px;}
	.eachCodeContainer:first-child { margin-left:0px;}
	.eachCodeContainer:last-child { margin-right:0px;}
	.searchHeading { padding: 10px 0px 0 0px; font-size: 14px;}
    /* .indexListScrollContainer { top: 70px;} */
    .outerRateFinderContainer{ top:125px;}
}
@media screen and (max-width: 320px){
	.eachArticleContainer_expand{ padding:10px;}
	.codeSearchResultGroup .col5:nth-child(5){ width:100%;}
	.codeSearchResultGroup .eachGroup{font-size: 13px;}
}